@use "libs/theme/tokens/elevation-tokens.scss";
@use "libs/theme/tokens/shape-tokens.scss";
@use "libs/theme/tokens/typography-tokens.scss";
@use "libs/theme/theme-builder.scss";

$brand: (
	coreColours: (
		primary: #BFAA69,
		neutral: #92896C,
		neutral-variant: #B9A67E,
	),
	schemes: ( 
		light: (
			primary: #6E5D24,
			surface-tint: #6E5D24,
			on-primary: #FFFFFF,
			primary-container: #BFAA69,
			on-primary-container: #4D3E06,
			secondary: #675E43,
			on-secondary: #FFFFFF,
			secondary-container: #EFE2C0,
			on-secondary-container: #6D6449,
			tertiary: #506537,
			on-tertiary: #FFFFFF,
			tertiary-container: #9CB37E,
			on-tertiary-container: #32451B,
			error: #BA1A1A,
			on-error: #FFFFFF,
			error-container: #FFDAD6,
			on-error-container: #93000A,
			background: #FFF8F0,
			on-background: #1D1B17,
			surface: #FEF8F4,
			on-surface: #1D1B19,
			surface-variant: #EBE1D3,
			on-surface-variant: #4C463C,
			outline: #7D766A,
			outline-variant: #CEC5B8,
			shadow: #000000,
			scrim: #000000,
			inverse-surface: #32302E,
			inverse-on-surface: #F5F0EC,
			inverse-primary: #DBC581,
			primary-fixed: #F9E19B,
			on-primary-fixed: #231B00,
			primary-fixed-dim: #DBC581,
			on-primary-fixed-variant: #54450E,
			secondary-fixed: #EFE2C0,
			on-secondary-fixed: #211B06,
			secondary-fixed-dim: #D2C6A5,
			on-secondary-fixed-variant: #4E462D,
			tertiary-fixed: #D3EBB1,
			on-tertiary-fixed: #102000,
			tertiary-fixed-dim: #B7CF97,
			on-tertiary-fixed-variant: #394D22,
			surface-dim: #DED9D5,
			surface-bright: #FEF8F4,
			surface-container-lowest: #FFFFFF,
			surface-container-low: #F8F3EE,
			surface-container: #F2EDE9,
			surface-container-high: #ECE7E3,
			surface-container-highest: #E6E2DE,
		),
		light-medium-contrast: (
			primary: #423500,
			surface-tint: #6E5D24,
			on-primary: #FFFFFF,
			primary-container: #7D6C31,
			on-primary-container: #FFFFFF,
			secondary: #3D361E,
			on-secondary: #FFFFFF,
			secondary-container: #766C51,
			on-secondary-container: #FFFFFF,
			tertiary: #293B13,
			on-tertiary: #FFFFFF,
			tertiary-container: #5F7445,
			on-tertiary-container: #FFFFFF,
			error: #740006,
			on-error: #FFFFFF,
			error-container: #CF2C27,
			on-error-container: #FFFFFF,
			background: #FFF8F0,
			on-background: #1D1B17,
			surface: #FEF8F4,
			on-surface: #12110F,
			surface-variant: #EBE1D3,
			on-surface-variant: #3B362C,
			outline: #585247,
			outline-variant: #736C61,
			shadow: #000000,
			scrim: #000000,
			inverse-surface: #32302E,
			inverse-on-surface: #F5F0EC,
			inverse-primary: #DBC581,
			primary-fixed: #7D6C31,
			on-primary-fixed: #FFFFFF,
			primary-fixed-dim: #63531B,
			on-primary-fixed-variant: #FFFFFF,
			secondary-fixed: #766C51,
			on-secondary-fixed: #FFFFFF,
			secondary-fixed-dim: #5D543A,
			on-secondary-fixed-variant: #FFFFFF,
			tertiary-fixed: #5F7445,
			on-tertiary-fixed: #FFFFFF,
			tertiary-fixed-dim: #475B2F,
			on-tertiary-fixed-variant: #FFFFFF,
			surface-dim: #CAC6C2,
			surface-bright: #FEF8F4,
			surface-container-lowest: #FFFFFF,
			surface-container-low: #F8F3EE,
			surface-container: #ECE7E3,
			surface-container-high: #E1DCD8,
			surface-container-highest: #D5D1CD,
		),
		light-high-contrast: (
			primary: #372B00,
			surface-tint: #6E5D24,
			on-primary: #FFFFFF,
			primary-container: #574810,
			on-primary-container: #FFFFFF,
			secondary: #332C15,
			on-secondary: #FFFFFF,
			secondary-container: #514930,
			on-secondary-container: #FFFFFF,
			tertiary: #1F3109,
			on-tertiary: #FFFFFF,
			tertiary-container: #3C4F24,
			on-tertiary-container: #FFFFFF,
			error: #600004,
			on-error: #FFFFFF,
			error-container: #98000A,
			on-error-container: #FFFFFF,
			background: #FFF8F0,
			on-background: #1D1B17,
			surface: #FEF8F4,
			on-surface: #000000,
			surface-variant: #EBE1D3,
			on-surface-variant: #000000,
			outline: #302C22,
			outline-variant: #4E483E,
			shadow: #000000,
			scrim: #000000,
			inverse-surface: #32302E,
			inverse-on-surface: #FFFFFF,
			inverse-primary: #DBC581,
			primary-fixed: #574810,
			on-primary-fixed: #FFFFFF,
			primary-fixed-dim: #3E3100,
			on-primary-fixed-variant: #FFFFFF,
			secondary-fixed: #514930,
			on-secondary-fixed: #FFFFFF,
			secondary-fixed-dim: #3A321B,
			on-secondary-fixed-variant: #FFFFFF,
			tertiary-fixed: #3C4F24,
			on-tertiary-fixed: #FFFFFF,
			tertiary-fixed-dim: #26380F,
			on-tertiary-fixed-variant: #FFFFFF,
			surface-dim: #BCB8B4,
			surface-bright: #FEF8F4,
			surface-container-lowest: #FFFFFF,
			surface-container-low: #F5F0EC,
			surface-container: #E6E2DE,
			surface-container-high: #D8D4D0,
			surface-container-highest: #CAC6C2,
		),
		dark: (
			primary: #DCC582,
			surface-tint: #DBC581,
			on-primary: #3C2F00,
			primary-container: #BFAA69,
			on-primary-container: #4D3E06,
			secondary: #D2C6A5,
			on-secondary: #373019,
			secondary-container: #4E462D,
			on-secondary-container: #C0B495,
			tertiary: #B7CF97,
			on-tertiary: #23360D,
			tertiary-container: #9CB37E,
			on-tertiary-container: #32451B,
			error: #FFB4AB,
			on-error: #690005,
			error-container: #93000A,
			on-error-container: #FFDAD6,
			background: #15130F,
			on-background: #E8E2DA,
			surface: #141311,
			on-surface: #E6E2DE,
			surface-variant: #4C463C,
			on-surface-variant: #CEC5B8,
			outline: #979083,
			outline-variant: #4C463C,
			shadow: #000000,
			scrim: #000000,
			inverse-surface: #E6E2DE,
			inverse-on-surface: #32302E,
			inverse-primary: #6E5D24,
			primary-fixed: #F9E19B,
			on-primary-fixed: #231B00,
			primary-fixed-dim: #DBC581,
			on-primary-fixed-variant: #54450E,
			secondary-fixed: #EFE2C0,
			on-secondary-fixed: #211B06,
			secondary-fixed-dim: #D2C6A5,
			on-secondary-fixed-variant: #4E462D,
			tertiary-fixed: #D3EBB1,
			on-tertiary-fixed: #102000,
			tertiary-fixed-dim: #B7CF97,
			on-tertiary-fixed-variant: #394D22,
			surface-dim: #141311,
			surface-bright: #3B3936,
			surface-container-lowest: #0F0E0C,
			surface-container-low: #1D1B19,
			surface-container: #211F1D,
			surface-container-high: #2B2A27,
			surface-container-highest: #363432,
		),
		dark-medium-contrast: (
			primary: #F2DB95,
			surface-tint: #DBC581,
			on-primary: #2F2500,
			primary-container: #BFAA69,
			on-primary-container: #292000,
			secondary: #E9DBBA,
			on-secondary: #2C250F,
			secondary-container: #9B9072,
			on-secondary-container: #000000,
			tertiary: #CCE5AC,
			on-tertiary: #192A04,
			tertiary-container: #9CB37E,
			on-tertiary-container: #142501,
			error: #FFD2CC,
			on-error: #540003,
			error-container: #FF5449,
			on-error-container: #000000,
			background: #15130F,
			on-background: #E8E2DA,
			surface: #141311,
			on-surface: #FFFFFF,
			surface-variant: #4C463C,
			on-surface-variant: #E4DBCD,
			outline: #B9B1A4,
			outline-variant: #978F83,
			shadow: #000000,
			scrim: #000000,
			inverse-surface: #E6E2DE,
			inverse-on-surface: #2B2A27,
			inverse-primary: #56470F,
			primary-fixed: #F9E19B,
			on-primary-fixed: #171000,
			primary-fixed-dim: #DBC581,
			on-primary-fixed-variant: #423500,
			secondary-fixed: #EFE2C0,
			on-secondary-fixed: #161101,
			secondary-fixed-dim: #D2C6A5,
			on-secondary-fixed-variant: #3D361E,
			tertiary-fixed: #D3EBB1,
			on-tertiary-fixed: #081400,
			tertiary-fixed-dim: #B7CF97,
			on-tertiary-fixed-variant: #293B13,
			surface-dim: #141311,
			surface-bright: #464441,
			surface-container-lowest: #080706,
			surface-container-low: #1F1D1B,
			surface-container: #292825,
			surface-container-high: #343230,
			surface-container-highest: #3F3D3B,
		),
		dark-high-contrast: (
			primary: #FFEFC5,
			surface-tint: #DBC581,
			on-primary: #000000,
			primary-container: #D7C17E,
			on-primary-container: #100B00,
			secondary: #FDEFCD,
			on-secondary: #000000,
			secondary-container: #CEC2A2,
			on-secondary-container: #100B00,
			tertiary: #E0F8BE,
			on-tertiary: #000000,
			tertiary-container: #B3CB94,
			on-tertiary-container: #050E00,
			error: #FFECE9,
			on-error: #000000,
			error-container: #FFAEA4,
			on-error-container: #220001,
			background: #15130F,
			on-background: #E8E2DA,
			surface: #141311,
			on-surface: #FFFFFF,
			surface-variant: #4C463C,
			on-surface-variant: #FFFFFF,
			outline: #F9EFE0,
			outline-variant: #CAC1B4,
			shadow: #000000,
			scrim: #000000,
			inverse-surface: #E6E2DE,
			inverse-on-surface: #000000,
			inverse-primary: #56470F,
			primary-fixed: #F9E19B,
			on-primary-fixed: #000000,
			primary-fixed-dim: #DBC581,
			on-primary-fixed-variant: #171000,
			secondary-fixed: #EFE2C0,
			on-secondary-fixed: #000000,
			secondary-fixed-dim: #D2C6A5,
			on-secondary-fixed-variant: #161101,
			tertiary-fixed: #D3EBB1,
			on-tertiary-fixed: #000000,
			tertiary-fixed-dim: #B7CF97,
			on-tertiary-fixed-variant: #081400,
			surface-dim: #141311,
			surface-bright: #52504D,
			surface-container-lowest: #000000,
			surface-container-low: #211F1D,
			surface-container: #32302E,
			surface-container-high: #3D3B38,
			surface-container-highest: #484644,
		),
	),
	palettes: ( 
		primary: (
			0: #000000,
			5: #161000,
			10: #231B00,
			15: #2F2500,
			20: #3C2F00,
			25: #483A03,
			30: #54450E,
			35: #615119,
			40: #6E5D24,
			50: #88763A,
			60: #A38F51,
			70: #BFAA69,
			80: #DBC581,
			90: #F9E19B,
			95: #FFF0C8,
			98: #FFF8F0,
			99: #FFFBFF,
			100: #FFFFFF,
		),
		secondary: (
			0: #000000,
			5: #151105,
			10: #201B0E,
			15: #2A2517,
			20: #353021,
			25: #413B2C,
			30: #4C4636,
			35: #585241,
			40: #655E4D,
			50: #7E7664,
			60: #98907D,
			70: #B3AA96,
			80: #CFC6B1,
			90: #ECE2CC,
			95: #FAF0D9,
			98: #FFF8F0,
			99: #FFFBFF,
			100: #FFFFFF,
		),
		tertiary: (
			0: #000000,
			5: #061409,
			10: #101F13,
			15: #1A291D,
			20: #253427,
			25: #2F3F32,
			30: #3B4B3D,
			35: #465648,
			40: #526254,
			50: #6A7B6C,
			60: #849585,
			70: #9EB09E,
			80: #B9CBB9,
			90: #D5E7D4,
			95: #E3F6E2,
			98: #ECFEEB,
			99: #F5FFF3,
			100: #FFFFFF,
		),
		neutral: (
			0: #000000,
			5: #12110F,
			10: #1C1B1A,
			15: #272624,
			20: #31302E,
			25: #3D3B39,
			30: #484645,
			35: #545250,
			40: #605E5C,
			50: #797774,
			60: #93908E,
			70: #AEAAA8,
			80: #CAC6C3,
			90: #E6E2DF,
			95: #F4F0ED,
			98: #FDF8F5,
			99: #FFFBFF,
			100: #FFFFFF,
		),
		neutral-variant: (
			0: #000000,
			5: #13110D,
			10: #1E1B17,
			15: #282521,
			20: #33302C,
			25: #3E3B36,
			30: #4A4641,
			35: #55524D,
			40: #625E59,
			50: #7B7671,
			60: #95908A,
			70: #B0AAA4,
			80: #CBC6BF,
			90: #E8E1DB,
			95: #F6F0E9,
			98: #FFF8F2,
			99: #FFFBFF,
			100: #FFFFFF,
		),
	),
);

@include theme-builder.theme-builder($brand);